body {
  background: linear-gradient(to bottom right, #21cdc3, #1d3461);
}

footer {
  background: linear-gradient(to bottom right, #21cdc3, #1d3461);
}

.kosong {
  height: 150px;
}

.kosongjuga {
  height: 261px;
}
